# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Environment variables
.env.local
.env.*.local

# Debug
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
